/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background-color: #0a192f;
}

a {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #ecf0f1;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0a192f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}







/* Navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #ecf0f1;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0a192f;
}

/* Menu Icon for mobile */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #ecf0f1;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        background-color: #333;
        width: 100%;
        display: none; /* Initially hide the menu */
    }

    nav ul.show {
        display: flex; /* Show the menu when toggled */
    }

    nav ul li {
        margin: 0.5rem 0;
        width: 100%;
        text-align: left;
    }

    nav ul li a {
        width: 100%;
        padding: 1rem;
    }

    .menu-icon {
        display: block; /* Show the menu icon on small screens */
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    #about-me h2 {
        font-size: 1.5rem;
    }

    #about-me p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-section {
        padding: 3rem 1rem;
    }

    .hero-section h1 {
        font-size: 1.5rem;
    }

    .hero-section p {
        font-size: 0.9rem;
    }

    #about-me h2 {
        font-size: 1.2rem;
    }

    #about-me p {
        font-size: 0.8rem;
    }
}











/* Hexagonal logo styles */
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 55px; /* Reduced width */
    height: 69.3px; /* Adjusted height for upright hexagon */
    left: 2em;
}

.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%; /* Match parent width */
    height: 100%; /* Match parent height */
    background-color: #2c3e50; /* Dark Blue Gray */
    color: #358882; /* Light Gray */
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border: 3px solid #e74c3c; /* Border with Bright Red color */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.logo a:hover {
    background-color: #e74c3c; /* Bright Red */
    border: 5px solid #358882; /* White border on hover */
    transform: scale(1.05);
    border-radius: 40%;
}

nav ul {
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li {
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    /* padding: 0.5rem 1rem; */
    padding: 8px 6px;
    border: 0.00001px solid #e74c3c; /* Bright Red */
    color: #77b6b2; 
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    color: #ecf0f1;
    transform: scale(1.05);
}

nav ul li .dropdown-content {
    min-width: fit-content;
    display: none;
    position: absolute;
    /* top: 100%; */
    left: 0;
    /* background-color: #444; */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

nav ul li .dropdown-content li {
    padding: 0.5rem 1rem;
}

nav ul li .dropdown-content li a {
    color: #fff;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li .dropdown-content li a:hover {
    background-color: #358882;
}

nav ul li:hover .dropdown-content {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Hero section styles */
.hero-section {
    padding: 5rem 1rem;
    height: 67vh;
    position: relative;
    color: #ffffff;
}

.hero-section img {
    height: 560px;
    width: 500px;
    border-radius: 100%;
    position: absolute;
    top: 0.5em;
    right: 5em;
}

.hero-section .hero-text{
    position: absolute;
    left: 13em;
    top: 3em;
    line-height: 2em;
}

.hero-section .welcome {
    font-size: 1.5rem;
    animation: fadeInUp 2s;
    color: #358882;
}
.hero-section .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeInDown 3s;
    color: #ccd6f6;
    font-weight: bolder;
}

.hero-section .spaname{
    font-size: 16px;
}
.hero-section .hero-text h2{
    font-size: 2em;
}
.hero-section .hero-text h2, p, p{
    color: #828caa;
}

/* Contact Me button styles */
.contact-button {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    border: 2px solid #e74c3c; /* Bright Red */
    color: #358882; /* Bright Red */
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.contact-button:hover {
    background-color: #e74c3c; /* Bright Red */
    color: #605d5d; /* White */
    transform: scale(1.05);
}



/* Basic styling for the hero section */

#neural-network {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure canvas is behind the text */
}

#blockchain-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure canvas is behind the text */
}


/* End of Hero Section */

/* Email Newsletter Section  */
.newsletter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em; 
    background-color: #e74c3c; /* Light background color */
}

.newsletter-container  {
    font-size: 1em;
    color: #ccd6f6;
}

.newsletter-link {
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    text-decoration:  underline;
    font-style: italic;
    transition: background-color 0.3s ease-in-out;
}

.newsletter-link:hover {
    text-underline-offset: unset;
    color: #0a192f;
}



/* About Me section styles */

#about{
    /* background-color: #358882; */
    height: 130vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title-01 {
    font-size: 4.5em;
    font-weight: bolder;
    margin: 0;
    margin-top: 0;
    color: #e74c3c;
    opacity: .1;
}

.section-title-02 {
    font-weight: 700;
    transform: translateY(-80px);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: #e74c3c; 
}
.section-title-02:before {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #e74c3c; 
    margin-top: 5em;
    animation: expand 1s;
    position: absolute;
    bottom: 0;
    left: 70%;
}
.aboutCon{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 35%;
    height: 4em;
    align-items: center;   
    margin-top: 5em;
}
.about .container .content {
    column-gap: 40px;
    width: 100%;
}

.about-img img {
    max-width: 100%;  
    border-radius: 8px;
    height: 400px;
    width: 25em;
    height: 30em;
    position: absolute;
    top: 10em;
    left: 4em;
}

.about-info{
    position: absolute;
    right: 20em;
    margin-top: 13em;
}
.about-info .description {
    max-width: 600px;
    overflow: hidden;
}
.about-info .description h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #358882;
    padding-left: 2em;
}
.about-info .description h3 span {
    color: #e74c3c;
}

.about-info .description p {
    color: #ccd6f6;
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 20px;
    line-height: 25px;
    text-align: justify;
    border-bottom: 1px solid var(--line-color);
    padding-left: 3em;
    padding-right: 3em;
}


.experience-projects-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    padding: 2em;
    /* background-color: #f0f4f8; */
    border-radius: 10px;
}

.experience, .projects, .resume {
    flex: 1;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.experience h3, .projects h3 {
    font-size: 1.5em;
    color: #333;
}

.experience p, .projects p {
    font-size: 2em;
    color: #007BFF;
    margin-top: 0.5em;
}

.experience:hover, .projects:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.resume-button {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.2em;
    color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 10px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.resume-button:hover {
    color: #fff;
    background-color: #007BFF;
    border-color: #0056b3;
}


    /* Social icons  */
.social-icons {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    right: 3em;
}

.social-icon {
    font-size: 2em;
    color: #007BFF;
    margin: 0.5em 0;
    transition: transform 0.3s, color 0.3s, border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.social-icon:hover {
    color: #0056b3;
    transform: scale(1.2) rotate(10deg);
    border-color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Footer styles */
footer {
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    background-color: #e74c3c;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes expand {
    from { width: 0; }
    to { width: 50px; }
}

